<!DOCTYPE html>
<html lang="en">
    <!------------Head-------------->
    <%- include('../partials/head', {estilos: "crearProducto", titulo: "La cerveza - Crear producto", script: ""})%>
<body>
    <!-----------Header------------->
    <%- include('../partials/header')%>
    <!-----------Main------------->
    <main>
        <form action="/productos/crearProducto" method="post" class="crearProductoForm" enctype="multipart/form-data">
            <!-- Campo Nombre -->
            <div>
                <input type="text" name="nombre"  placeholder="Nombre del Producto" value="<%= locals.oldData ? oldData.nombre : null %>">
                <% if (locals.errors && errors.nombre) { %>
                    <p class="errores_register"><%= errors.nombre.msg %></p>
                <% } %>
            </div>

            <!-- Campo Descripción -->
            <div>
                <textarea name="descripcion"  placeholder="Descripción del producto"></textarea>
            </div>

            <!-- Campo Imagen -->
            <div>
                <input type="file" name="imagenCerveza"  class="file">
                <% if (locals.errors && errors.imagenCerveza) { %>
                    <p class="errores_register"><%= errors.imagenCerveza.msg %></p>
                <% } %>
            </div>

            <!-- Campo Categoría -->
            <div>
                <select name="categoriaCerveza">
                    <option disabled selected hidden value="ninguna" class="option1-select">Selecciona una categoría</option>
                    <% for( let i = 0; i < variedades.length; i++ ) { %>
                        <% if(locals.errors) { %>
                            <option value="<%= variedades[i].id %>" <% if (variedades[i].id == locals.oldData.categoriaCerveza) { %>selected<% } %>><%= variedades[i].name %></option>
                        <% } else { %>    
                            <option value="<%= variedades[i].id %>"><%= variedades[i].name %></option> 
                        <% } %>    
                    <% } %>
                </select>
                <% if (locals.errors && errors.categoriaCerveza) { %>
                    <p class="errores_register"><%= errors.categoriaCerveza.msg %></p>
                <% } %>
            </div>

            <!-- Campo Precio -->
            <div>
                <input type="number" name="precio"  min="0" placeholder="Precio 100.00" step="0.01" value="<%= locals.oldData ? oldData.precio : null %>">
                <% if (locals.errors && errors.precio) { %>
                    <p class="errores_register"><%= errors.precio.msg %></p>
                <% } %>
            </div>

            <!-- Campo Stock -->
            <div>
                <input type="number" name="stock"  min="0" placeholder="Stock 200" value="<%= locals.oldData ? oldData.stock : null %>">
                <% if (locals.errors && errors.stock) { %>
                    <p class="errores_register"><%= errors.stock.msg %></p>
                <% } %>
            </div>

            <!-- Campo Alchol Content -->
            <div>
                <input type="number" name="alcohol_content" placeholder="Alcohol content 9" value="<%= locals.oldData ? oldData.alcohol_content : null %>">
                <% if (locals.errors && errors.alcohol_content) { %>
                    <p class="errores_register"><%= errors.alcohol_content.msg %></p>
                <% } %>
            </div>

            <ul class="validaciones">

            </ul>

            <div class="botones">
                <button type="submit">Crear Producto</button>
                    
                <button type="reset">Borrar</button>
            </div>
    </main>
    <!------------Footer----------->
    <%- include('../partials/footer')%>
</body>

<script src="/js/CrearProducto.js"></script>

</html>