<!DOCTYPE html>
<html>
    <%- include('../partials/head', {estilos:"detalleProducto", titulo: "La cerveza - Productos", script: ""})%>
<body>
    <%- include('../partials/header')%>

    <main>

        <!-- SECCIÓN DETALLE DE PRODUCTO -->
        <section class="detalleProducto">

            <!-- TITULO, VARIEDAD, ALCOHOL CONTENT E IMAGEN -->
            <div class="imagen-titulo">
                <h2><%= producto.name %></h2>
                <p><%= producto.Variety.name %></p>
                <img src="/img/productos/<%= producto.img %>" alt="Aquí va imágen Imperial Ipa Losch">
                <div class="cont-PorcentajecAlcohol">
                    <input type="text" name="porcentajeAlcohol" value="Alcohol <%= producto.alcohol_content %> %" readonly>
                </div>
            </div>   
            
            <!-- DESCRIPCIÓN -->
            <div class="descripcion-cerveza">
                <div class="descripcion">
                    <p> <%= producto.description %> </p>
                </div>
                
                <div class="informacion">
                    <strong><p><%= "$ " +  producto.price %></p></strong>
                </div>

                <div class="botones">
                    <input type="button" data-value="imperial_ipa_losch" value="-">
                    <input type="text" class="cantidad"  data-default="1" data-stock="50" name="cantidad" value="1" min="1" step="1">
                    <input type="button" data-value="imperial_ipa_losch" value="+">
                    <p>Disponible: <%=producto.stock%> unidades.</p>
                </div>

                <!-- BOTONES -->
                <button type="button" class="boton" name="botonAgregar" id="btn_agregar"  title="buscar">
                    <i class="fa fa-cart-plus"></i>
                </button>
                <div class="contenedor_botones">
                    <a href="/productos"> <button type="button"  class="boton" name="Volver">Volver</button></a>  
                    <a href="/productos/editarProducto/<%=producto.id%>"><button type="button" class="boton"  name="Editar">Editar</button></a>     
                </div>
                <div>
                    <a class="action-button delete" href="/productos/eliminar/<%= producto.id %>"><button class="action-button delete">ELIMINAR</button></a>
                </div>
            </div>   

            <button class="boton_localstorage"></button>
        </section> 

    </main>

    <%- include('../partials/footer')%>

</body>

<script src="/js/DetalleProducto.js"></script>
</html>