<!DOCTYPE html>
<html>
    <%- include('../partials/head', {estilos:"productos", titulo: "La cerveza - Productos"})%>
<body>

    <%- include('../partials/hedear')%>

    <main>
        <section class="productos">
            <% productos.forEach(producto => { %>
                <article>
                    <a href="productos/<%= producto.id %>">
                        <div class="titulo-imagen">
                            <h3><%= producto.nombre %></h3>
                            <img src="/img/<%= producto.img %>" alt="imagen-producto">
                        </div>
                    </a>

                    <p class="precio"><%= "$" + producto.precio %></p>
                </article>
            <% }) %>
        </section>
    </main>

    <%- include('../partials/footer')%>

</body>
</html>