<!DOCTYPE html>
<html>
    <%- include('../partials/head', {estilos:"productos", titulo: "La cerveza - Productos", script: ""})%>
<body>

    <%- include('../partials/header')%>

    <main>
        <section class="productos">

            <ul>
                <% varietys.forEach(variety => { %>

                    <li><a href="/productos?tipo=<%=variety.id%>"><%= variety.name %></a></li>
    
                <% }) %>
            </ul>

            <!-- BUCLE FOREACH SOBRE LOS PRODUCTOS -->
            <% products.forEach(producto => { %>

                <a class="link-articulo" href="/productos/detalle/<%= producto.id %>">
                    <img class= "imagen" src="/img/productos/<%= producto.img %>" alt="imagen de un producto">
                    <h3 class="nombre-producto"><%= producto.name %></h3>
                    <p class="precio"><%= "$" + producto.price %></p>
                </a>

            <% }) %>
            <!-- FIN DEL BUCLE -->

        </section>
    </main>

    <%- include('../partials/footer')%>

</body>
</html>