<!DOCTYPE html>
<html>
    <%- include('../partials/head', {estilos:"productos", titulo: "La cerveza - Productos", script: "", script2: ""})%>
<body>

    <%- include('../partials/header')%>

    <main>
        <section class="variedades">
            <input type="checkbox" id="abrirMenu">
            <label for="abrirMenu" class="checkbox-label">Variedades</label>
            <ul class="menu__variedades">
                <li><a href="/productos">Todas</a></li>
                <% varietys.forEach(variety => { %>

                    <li><a href="/productos?tipo=<%=variety.id%>"><%= variety.name %></a></li>
    
                <% }) %>
            </ul>
        </section>

        <section class="productos">
            <!-- BUCLE FOREACH SOBRE LOS PRODUCTOS -->
            <% products.forEach(producto => { %>

                <a class="link-articulo" href="/productos/detalle/<%= producto.id %>">
                    <img class= "imagen" src="/img/productos/<%= producto.img %>" alt="imagen de un producto">
                    <h3 class="nombre-producto"><%= producto.name %></h3>
                    <p class="precio"><%= "$" + producto.price %></p>
                </a>

            <% }) %>
            <!-- FIN DEL BUCLE -->

        </section>
    </main>

    <%- include('../partials/footer')%>

</body>
</html>