<!DOCTYPE html>
<html>
    <%- include('../partials/head', {estilos:"productos", titulo: "La cerveza - Productos", script: ""})%>
<body>

    <%- include('../partials/header')%>

    <main>
        <section class="productos">
            <!-- Cree un bucle para mostrar cada producto -->
            <% products.forEach(producto => { %>
                <article>
                    <a href="/productos/detalle/<%= producto.id %>">
                        <div class="titulo-imagen">
                            <h3><%= producto.nombre %></h3>
                            <img src="/img/<%= producto.img %>" alt="imagen-producto">
                        </div>
                    </a>

                    <p class="precio"><%= "$" + producto.precio %></p>
                </article>
            <% }) %>
            <!-- Fin del bucle -->
        </section>
    </main>

    <%- include('../partials/footer')%>

</body>
</html>