<%- include('../partials/head', {estilos: "carouselProductos",  titulo:"", script: "/js/script.js"})%>

<div class="contenedor-detalle-productos" >   
    <button class="carousel-products-control-prev" type="button"  id="left" >
        <div class="contenedor-producto-icono-prev" >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        </div>
    </button>

    <div class="wrapper">
        <div class="carousel-productos">
            <% productos.forEach(producto => { %>
                <article class="detalle-producto">
                    <a href="/productos/detalle/<%= producto.id %>">
                        <img  src="/img/<%= producto.img %>" alt="imagen" draggable="false">
                        <div class="descripcion-producto">  
                            <p class="nombre-cerveza"><%= producto.nombre %></p>
                            <p class="precio-cerveza">$<%= producto.precio %></p>
                        </div>
                    </a>
                </article>
            <% }) %>
        </div>
    </div>
    
    <button class="carousel-products-control-next" type="button" id="right">
        <div class="contenedor-producto-icono-next" >
            <span class="carousel-control-next-icon" aria-hidden="true" ></span>
        </div>
    </button>
</div>