<!DOCTYPE html>
<html>

    <%- include('../partials/head', {estilos: "perfilUser", titulo: "La cerveza - Perfil", script: ""})%>

<body>

    <%- include('../partials/header')%>

    <main class="perfil">     
        <h1 class="perfil_name">Este es el perfil de: <%= user.nombre %></h1>

        <img class="imagen_usuario" src="/img/usuarios/<%= user.img %>" alt="Imagen de usuario">

        <a class="logout" href="/user/logout">Logout</a>
    </main>

        <%- include('../partials/footer')%>

</body>