<!DOCTYPE html>
<html>
    <%- include('../partials/head', {estilos: "perfilUser", titulo: "La cerveza - Perfil", script: "", script2: ""})%>
<body>

    <%- include('../partials/header')%>

    <main class="perfil">   

        <!-- TITULO DEL PERFIL -->
        <h1 class="perfil_name">Este es el perfil de: <%= user.name %></h1>

        <!-- IMAGEN DEL USUARIO -->
        <img class="imagen_usuario" src="/img/usuarios/<%= user.img %>" alt="Imagen de usuario">

        <!-- BOTONES -->
        <div class="botones">
            <a class="logout" href="/user/logout">Logout</a>
            <a href="/user/cambiarPassword/<%= user.id %>">Cambiar contraseña</a>
        </div>

    </main>

    <%- include('../partials/footer')%>

</body>